[Unit]
Description=regenerate rtorrent.rc on boot
After=network.target
Before=supervisor.service

[Service]
ExecStart=/usr/local/bin/scw-gen-rtorrent-rc
Type=oneshot

[Install]
WantedBy=multi-user.target
