[Unit]
Description=rtorrent daemon
After=network.target

[Service]
Environment=TERM=screen-256color
RuntimeDirectory=rtorrent
User=rtorrent
Group=rtorrent
ExecStart=/usr/bin/socat PTY,link=%t/rtorrent/tty EXEC:/usr/bin/rtorrent,pty,nofork
Type=simple

[Install]
WantedBy=multi-user.target
